tmdb:
  api_key: xxx
  region: CA
radarr:
  enabled: true
  url: http://localhost:7878
  api_key: xxx
sonarr:
  enabled: true
  url: http://localhost:8989
  api_key: xxx
gotify:
  enabled: false
  url: http://localhost
  token: xxx
discord:
  enabled: true
  webhook_url: "your_discord_webhook_url_here"
providers:
  - Netflix
  - Disney Plus
prefix: elsewherr-
